.container {
  padding: 0 124px;
}

.anime {
  max-width: 1200px;

  &__input {
    font-size: 24px;
    background: rgb(197, 194, 194);
    width: 550px;
    margin: 0 auto;
  }

  &__input::placeholder {
    color: rgb(0, 0, 0)
  }

  &__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
}
